<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<div class="container">
    <h1 class="text-center" style="color: #5EC2E4;">Thông tin cá nhân</h1>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic"> <img src="/images/avt_user.png"  style="width:130px; height:200px;"class="img-responsive"
                            alt="Thông tin cá nhân">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> Trịnh Trường Duy </div>
                        <div class="profile-usertitle-job"> Nhân viên bán vé </div>
                    </div>
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm homeBtn">Trang chủ</button>
                        <a href="/" type="button" class="btn btn-danger btn-sm">Thoát ra</a>
                    </div>
                    <div class="profile-usermenu">
                        <ul class="nav">

                            <div class="menu-icon"><span><i class="glyphicon glyphicon-menu-hamburger"></i>
                                    Menu</span></div>
                            <li class="active"> <a href="#"> <i class="glyphicon glyphicon-info-sign"></i>Cập nhật
                                    thông tin cá nhân </a>
                            </li>

                            <li> <a href="#"> <i class="glyphicon glyphicon-envelope"></i> Tin nhắn</a>
                            </li>

                            <li> <a href="lichsudatve.html" target="_blank"> <i
                                        class="glyphicon glyphicon-shopping-cart"></i> Lịch
                                    sử đặt phòng </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h4 style="text-align: center;">Mã người dùng : NVBV01</h4>

                <div class="profile-content">
                    <div class="left">
                        <h4>Họ và tên: Trịnh Trường Duy <button><i class="glyphicon glyphicon-edit"></i></button></h4>
                        <br>
                        <h4>Ngày sinh: 03/08/2002 <button><i class="glyphicon glyphicon-edit"></i></button></h4>
                        <br>
                        <h4>Tài khoản: truongduycr123</h4>
                        <br>
                        <h4>Mật khẩu: 123456 <button><i class="glyphicon glyphicon-edit"></i></button></h4>
                        <br>
                    </div>
                    <div class="right">
                        <h4>Mã người dùng : NVBV01</h4>
                        <br>
                        <h4>Email: thaihoang@gmail.com <button><i class="glyphicon glyphicon-edit"></i></button></h4>
                        <br>
                        <h4>Giới tính: Nam <button><i class="glyphicon glyphicon-edit"></i></button></h4>
                        <br>
                        <h4>Loại người dùng: Nhân viên bán vé</h4>
                        <br>
                    </div>


                </div>
                <div class="modal-footer" style="display: none;">

                    <input type="submit" class="btn btn-success" data-dismiss="modal" value="Lưu">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="javascripts/profile.js"></script>