<div class="footer bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>We are a premier hotel booking online service that offers a wide
                    range of hotels and accommodations for travelers of all kinds.</p>
                <ul class="list-unstyled">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Rooms</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Standard Room</a></li>
                    <li><a href="#">Deluxe Room</a></li>
                    <li><a href="#">Suite Room</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Address: 123 Main Street, Anytown USA 12345</a></li>
                    <li><a href="#">Phone: (555) 555-5555</a></li>
                    <li><a href="#">Email: info@hotelbookingonline.com</a></li>
                    <li>
                        <form class="d-flex">
                            <div class="form-group me-2">
                                <input type="email" class="form-control" id="email"
                                    placeholder="Enter Your Email Address" />
                            </div>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 text-center mt-3">
                <p>&copy; 2023 Hotel Booking Online. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>