<link rel="stylesheet" href="./css/detail.css">
<div class="detail p-5">
    <div class="row">
        
        <div class="col-lg-8 col-md-8">
            <img src="https://via.placeholder.com/800x500" alt="Phòng ngủ" class="img-fluid room-image">

            <div class="room-description">
                <h1>Phòng ngủ tiêu chuẩn</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sagittis,
                    odio quis mattis suscipit, mauris ex pretium urna, in malesuada orci eros non libero.
                    Aliquam eleifend enim vel euismod volutpat. Sed bibendum vestibulum ipsum,
                    ac faucibus nisi vehicula ut.
                </p>
            </div>


            <div class="room-facilities">
                <h3>Tiện nghi phòng</h3>
                <ul>
                    <li>Giường đơn hoặc giường đôi</li>
                    <li>Máy điều hòa không khí</li>
                    <li>TV màn hình phẳng</li>
                    <li>Tủ lạnh mini</li>
                    <li>Wifi miễn phí</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row mb-1">
                <div class="col-md-12">
                    <img src="https://via.placeholder.com/400x200" alt="Ảnh 1" class="img-fluid">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <img src="https://via.placeholder.com/400x200" alt="Ảnh 2" class="img-fluid">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <img src="https://via.placeholder.com/400x200" alt="Ảnh 3" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>