.footer{
    background-color: rgb(8, 7, 71);
    color: rgb(211, 220, 228);
}

.row{
    .col-md-4{
        li{
            margin-top: 5px;
        }
        a{
            color: rgb(221, 221, 221);
        }
        a:hover{
            color: #FAD246;
        }
    }
}