<div class="container px-5 py-3">
    <div class="row">
        <div class="col">
            <h4 class="mb-5 ">Welcome back, <b>{{ currentUser.username }}</b></h4>
        </div>
    </div>
    <!-- row -->
    <div class="row mb-4 text-center">
        <div class="col-lg-4 col-md-9">
            <div class="m-1 shadow-lg">
                <div class="row p-3">
                    <div class="col-lg-6"><i class="material-icons">&#xE24B;</i></div>
                    <div class="col-lg-6">
                        <div class="title">Bảng tin</div>
                        <div class="number">11</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-9">
            <div class="m-1 shadow-lg">
                <div class="row p-3">
                    <div class="col-lg-6"><i class="material-icons">&#xE88A;</i></div>
                    <div class="col-lg-6">
                        <div class="title">Phòng</div>
                        <div class="number">11</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-9">
            <div class="m-1 shadow-lg">
                <div class="row p-3">
                    <div class="col-lg-6"><i class="material-icons">&#xE7FB;</i></div>
                    <div class="col-lg-6">
                        <div class="title">Khách hàng</div>
                        <div class="number">11</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    < class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark">
                <h2 class="tm-block-title pt-5 ps-5">Thống kê</h2>
                <canvas class="p-5" id="lineChart"></canvas>
            </div>
        </div>
        <canvas class="chartjs-render-monitor" height="0" id="pieChart" width="200"></canvas>
        <canvas id="barChart" height="0"></canvas>
        {{!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">Performance</h2>
                <canvas id="barChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller">
                <h2 class="tm-block-title">Storage Information</h2>
                <div id="pieChartContainer">
                    <canvas class="chartjs-render-monitor" height="200" id="pieChart" width="200"></canvas>
                </div>
            </div>
        </div> --}}
        {{!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                <h2 class="tm-block-title">Notification List</h2>
                <div class="tm-notification-items">
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-1.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Jessica</b> and <b>6 others</b> sent you new <a
                                    class="tm-notification-link" href="#">product
                                    updates</a>. Check new orders.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-2.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Oliver Too</b> and <b>6 others</b> sent you existing <a
                                    class="tm-notification-link" href="#">product
                                    updates</a>. Read more reports.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-3.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Victoria</b> and <b>6 others</b> sent you <a class="tm-notification-link"
                                    href="#">order
                                    updates</a>. Read order information.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-1.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Laura Cute</b> and <b>6 others</b> sent you <a
                                    class="tm-notification-link" href="#">product
                                    records</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-4.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Samantha</b> and <b>6 others</b> sent you <a class="tm-notification-link"
                                    href="#">order
                                    stuffs</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-5.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Sophie</b> and <b>6 others</b> sent you <a class="tm-notification-link"
                                    href="#">product
                                    updates</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-6.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Lily A</b> and <b>6 others</b> sent you <a class="tm-notification-link"
                                    href="#">product
                                    updates</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-7.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Amara</b> and <b>6 others</b> sent you <a class="tm-notification-link"
                                    href="#">product
                                    updates</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img alt="Avatar Image" class="rounded-circle" height="80px"
                                src="img/avatars/user-8.jpg"></div>
                        <div class="media-body">
                            <p class="mb-2"><b>Cinthela</b> and <b>6 others</b> sent you <a class="tm-notification-link"
                                    href="#">product
                                    updates</a>.</p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        {{!-- <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">Orders List</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ORDER NO.</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">OPERATORS</th>
                            <th scope="col">LOCATION</th>
                            <th scope="col">DISTANCE</th>
                            <th scope="col">START DATE</th>
                            <th scope="col">EST DELIVERY DUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><b>#122349</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>
                                Moving
                            </td>
                            <td><b>Oliver Trag</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>485 km</b></td>
                            <td>16:00, 12 NOV 2022</td>
                            <td>08:00, 18 NOV 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122348</b></th>
                            <td>
                                <div class="tm-status-circle pending">
                                </div>
                                Pending
                            </td>
                            <td><b>Jacob Miller</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>360 km</b></td>
                            <td>11:00, 10 NOV 2022</td>
                            <td>04:00, 14 NOV 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122347</b></th>
                            <td>
                                <div class="tm-status-circle cancelled">
                                </div>
                                Cancelled
                            </td>
                            <td><b>George Wilson</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>340 km</b></td>
                            <td>12:00, 22 NOV 2022</td>
                            <td>06:00, 28 NOV 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122346</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>
                                Moving
                            </td>
                            <td><b>William Aung</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>218 km</b></td>
                            <td>15:00, 10 NOV 2022</td>
                            <td>09:00, 14 NOV 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122345</b></th>
                            <td>
                                <div class="tm-status-circle pending">
                                </div>
                                Pending
                            </td>
                            <td><b>Harry Ryan</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>280 km</b></td>
                            <td>15:00, 11 NOV 2022</td>
                            <td>09:00, 17 NOV 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122344</b></th>
                            <td>
                                <div class="tm-status-circle pending">
                                </div>
                                Pending
                            </td>
                            <td><b>Michael Jones</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>218 km</b></td>
                            <td>18:00, 12 OCT 2022</td>
                            <td>06:00, 18 OCT 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122343</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>
                                Moving
                            </td>
                            <td><b>Timmy Davis</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>218 km</b></td>
                            <td>12:00, 10 OCT 2022</td>
                            <td>08:00, 18 OCT 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122342</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>
                                Moving
                            </td>
                            <td><b>Oscar Phyo</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>420 km</b></td>
                            <td>15:30, 06 OCT 2022</td>
                            <td>09:30, 16 OCT 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122341</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>
                                Moving
                            </td>
                            <td><b>Charlie Brown</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>300 km</b></td>
                            <td>11:00, 10 OCT 2022</td>
                            <td>03:00, 14 OCT 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122340</b></th>
                            <td>
                                <div class="tm-status-circle cancelled">
                                </div>
                                Cancelled
                            </td>
                            <td><b>Wilson Cookies</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>218 km</b></td>
                            <td>17:30, 12 OCT 2022</td>
                            <td>08:30, 22 OCT 2022</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>#122339</b></th>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>
                                Moving
                            </td>
                            <td><b>Richard Clamon</b></td>
                            <td><b>HCM City, VN</b></td>
                            <td><b>150 km</b></td>
                            <td>15:00, 12 OCT 2022</td>
                            <td>09:20, 26 OCT 2022</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> --}}




        <div class="row">
            <div class="col">
                <div class="calendar p-5 shadow-lg">

                    <div class="d-flex justify-content-between mb-3">
                        <button class="btn btn-secondary prev-month-btn">&lt;</button>
                        <h2 class="current-month">Tháng 4 2023</h2>
                        <button class="btn btn-secondary next-month-btn">&gt;</button>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-end text-muted">CN</th>
                                <th class="text-muted">T2</th>
                                <th class="text-muted">T3</th>
                                <th class="text-muted">T4</th>
                                <th class="text-muted">T5</th>
                                <th class="text-muted">T6</th>
                                <th class="text-muted">T7</th>
                            </tr>
                        </thead>
                        <tbody class="calendar-body">
                            <tr>
                                <td class="text-end"></td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td>
                                    <div class="day"></div>
                                </td>
                                <td class="text-end">
                                    <div class="day"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4">
                    Copyright © <b>2023</b>. Ton Duc Thang University - IT Department
                </p>
            </div>
        </footer>

</div>

<script>
    Chart.defaults.global.defaultFontColor = 'white';
    let ctxLine,
        ctxBar,
        ctxPie,
        optionsLine,
        optionsBar,
        optionsPie,
        configLine,
        configBar,
        configPie,
        lineChart;
    barChart, pieChart;
    // DOM is ready
    $(function () {
        drawLineChart(); // Line Chart
        //drawBarChart(); // Bar Chart
        //drawPieChart(); // Pie Chart

        $(window).resize(function () {
            updateLineChart();
            //updateBarChart();
        });
    })




    const prevMonthBtn = document.querySelector('.prev-month-btn');
    const nextMonthBtn = document.querySelector('.next-month-btn');
    const currentMonth = document.querySelector('.current-month');


    let currentMonthIndex = 3;
    let currentYear = 2023;


    function updateCurrentMonth() {
        const date = new Date(currentYear, currentMonthIndex);
        const options = { month: 'long', year: 'numeric' };
        currentMonth.innerHTML = date.toLocaleDateString('vi-VN', options);
    }

    function updateCalendar() {

        const date = new Date(currentYear, currentMonthIndex);
        const firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);




        const calendarBody = document.querySelector('.calendar-body');


        calendarBody.innerHTML = '';


        let row = document.createElement('tr');
        let day = 1;

        for (let i = 0; i < 7; i++) {
            if (i < firstDay.getDay()) {

                let cell = document.createElement('td');
                let cellText = document.createTextNode('');
                cell.appendChild(cellText);
                row.appendChild(cell);
            } else {

                let cell = document.createElement('td');
                let cellDiv = document.createElement('div');
                cellDiv.classList.add('day');
                cellDiv.innerText = day;
                cell.appendChild(cellDiv);
                row.appendChild(cell);
                day++;
            }
        }

        calendarBody.appendChild(row);


        for (let i = 0; i < 5; i++) {
            row = document.createElement('tr');

            for (let j = 0; j < 7; j++) {
                if (day > lastDay.getDate()) {
                    let cell = document.createElement('td');
                    let cellText = document.createTextNode('');
                    cell.appendChild(cellText);
                    row.appendChild(cell);
                } else {
                    let cell = document.createElement('td');
                    let cellDiv = document.createElement('div');
                    cellDiv.classList.add('day');
                    cellDiv.innerText = day;
                    cell.appendChild(cellDiv);
                    row.appendChild(cell);
                    day++;
                }
            }

            calendarBody.appendChild(row);
        }

        // addEventsToCalendar();
    }


    prevMonthBtn.addEventListener('click', () => {
        currentMonthIndex--;
        if (currentMonthIndex < 0) {
            currentMonthIndex = 11;
            currentYear--;
        }
        updateCurrentMonth();
        updateCalendar();
    });


    nextMonthBtn.addEventListener('click', () => {
        currentMonthIndex++;
        if (currentMonthIndex > 11) {
            currentMonthIndex = 0;
            currentYear++;
        }
        updateCurrentMonth();
        updateCalendar();
    });


    updateCurrentMonth();

    updateCalendar();
</script>
</div>