<head>
  <link rel="stylesheet" href="./css/about.css">
</head>

<section class="about top" id="welcome">
  <div class="row">
    <div class="col-md-12 col-lg-6 ml-auto order-lg-2 position-relative mb-5 mt-4" data-aos="fade-up">
      <figure class="img-absolute">
        <img src="/img/rooms/room4.jpg" alt="Free Website Template by Templateux" class="img-fluid">
      </figure>
      <img src="/img/rooms/room3.jpg" alt="Image" class="img-fluid rounded">
    </div>
    <div class="col-md-12 col-lg-6 mt-3">
      <div class="heading">
        <h5>TỔNG QUAN VỀ KHÁCH SẠN</h5>
        <h2>Welcome to P4NTHERS Hotel</h2>
        <p>Khách sạn P4nthers là lựa chọn lý tưởng cho khách du lịch và doanh nhân khi đến thành phố. Với vị trí thuận
          tiện ngay trung tâm thành phố, P4nthers là điểm dừng chân lý tưởng cho những người muốn khám phá các điểm tham
          quan nổi tiếng của thành phố hay chỉ đơn giản là tận hưởng không gian thoải mái, ấm cúng của phòng nghỉ.</p>
        <p>Khách sạn P4nthers có thiết kế hiện đại và sang trọng với các phòng nghỉ được trang bị đầy đủ tiện nghi để
          đảm bảo sự thoải mái và tiện nghi cho khách hàng. Với đội ngũ nhân viên chuyên nghiệp và tận tình, khách sạn
          luôn sẵn sàng phục vụ khách hàng trong mọi yêu cầu của họ.
        </p>
      </div>

    </div>

  </div>

  <section class="room mt-5">
    <div class="heading_top flex1">
      <div class="heading">
        <h5>CÁC LOẠI PHÒNG NỔI BẬT</h5>
        <h2>Rooms $ Suites</h2>
      </div>
      <div class="button">
        <a href="/room"><button class="btn1 mt-5">Xem thêm</button></a>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="room-card">
          <img src="/img/rooms/room4.jpg" class="img-fluid">
          <div class="text">
            <h3>Suite Rooms</h3>
            {{!-- <p> <span>$</span>129 <span>/per night</span> </p> --}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="room-card">
          <img src="/img/rooms/room2.jpg" class="img-fluid">
          <div class="text">
            <h3>Standard Rooms</h3>
            {{!-- <p> <span>$</span>129 <span>/per night</span> </p> --}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="room-card">
          <img src="/img/rooms/room3.jpg" class="img-fluid">
          <div class="text">
            <h3>Deluxe Rooms</h3>
            {{!-- <p> <span>$</span>129 <span>/per night</span> </p> --}}
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>


</section>



<section class="about top" id="contact">
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="heading">
        <h5>RAISING COMFOMRT TO THE HIGHEST LEVEL</h5>
        <h2>Welcome to Luviana Hotel Resort</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. </p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <button class="btn1">READ MORE</button>
      </div>

    </div>
    <div class="col-md-6">
      <div class="img">
        {{!-- <img src="./img/home5.jpg" alt="" class="image1">
        <img src="./img/home4.jpg" alt="" class="image2"> --}}
      </div>
    </div>
  </div>
</section>